<%= image_tag("shapes/waves/top/#{@variant}.svg", class: "-mb-1") %>
<div class="bg-sky-50 <%= @classes %>">
  <%= content %>
</div>
<%= image_tag("shapes/waves/bottom/#{@variant}.svg", class: "-mt-1") %>