<% country_components = "countries/show_components/" %>
<div class="container bg-white mt-36 mb-20 mx-auto">
  <%= render country_components + "heading" %>
  <%= render country_components + "description" %>
  <%= render country_components + "map" %>
</div>